<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>

 <nav class="navbar navbar-expand-xl navbar-light bg-light">
   <div class="container-fluid">
     <a class="navbar-brand" href="#">PRIZE TAG</a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarBasic" aria-controls="navbarBasic" aria-expanded="false" aria-label="Toggle navigation">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse show" id="navbarBasic">
       <ul class="navbar-nav me-auto mb-2 mb-xl-0">
         <li class="nav-item">
           <a class="nav-link active" aria-current="page" href="#">Home</a>
         </li>
         <li class="nav-item">
           <a class="nav-link active" href="#">Link</a>
         </li>
         <li class="nav-item active">
           <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
         </li>
       </ul>
       <form class="d-flex">
         <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
         <button class="btn btn-outline-success" type="submit">Search</button>
       </form>
     </div>
   </div>
 </nav>

<h1 class="bg-info"><b>PRIZE TAG</b></h1>
<br>

     <div id="carouselCrossfade" class="carousel slide carousel-fade" data-bs-ride="carousel">
       <div class="carousel-inner">
         <div class="carousel-item active">
           <img src="../static/snicker 6.png" class="d-block w-100 h-65%" alt="Slide 1">
         </div>
         <div class="carousel-item" >
           <img src="../static/snicker7.jpeg" class="d-block w-100 h-65%" alt="Slide 2">
         </div>
         <div class="carousel-item"  >
           <img src="../static/snicker8.jpeg" class="d-block w-100 h-65%" alt="Slide 3">
         </div>
       </div>
       <a class="carousel-control-prev" href="#carouselCrossfade" role="button" data-bs-slide="prev">
         <span class="carousel-control-prev-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Previous</span>
       </a>
       <a class="carousel-control-next" href="#carouselCrossfade" role="button" data-bs-slide="next">
         <span class="carousel-control-next-icon" aria-hidden="true"></span>
         <span class="visually-hidden">Next</span>
       </a>
     </div>
     <br><br>

    <div class="container">
        <section class="row">
            <div class="col-md-4">
                <div class="card">
                    <h3><b>Best quality shoes</b></h3>
                    <p >Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci aspernatur ipsa iure nihil
                        obcaecati quasi quibusdam recusandae suscipit voluptatem. Ab assumenda dolorem nemo odit
                        Assumenda exercitationem necessitatibus nobis vero.
                    </p>
                    <p> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque aut cumque delectus dicta eius
                        eligendi eos error expedita ipsam itaque iure, maxime minus nobis officiis quidem quisquam rem
                        suscipit tempore.
                    </p>
                    <a href=""class="btn btn-outline-info">READ MORE</a>
               </div>
            </div>

            <div class="col-md-8">
                <img src="../static/snicker 1.png" alt="">   
            </div>
        </section>
    </div>


    <div class="container">
        <section class="row">
            <div class="col-md-3">
                <div class="card">
                    <h2><b>SNICKERS</b></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium, aut consequatur dolores dolorum, eaque,
                        ex explicabo facere fuga
                    </p>

                    <div id="carouselInterval" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="1000">
                          <img src="../static/snicker 12.jpeg" class="d-block w-100" alt="Slide 1">
                        </div>
                        <div class="carousel-item" data-bs-interval="1000">
                          <img src="../static/snicker 11.jpg" class="d-block w-100" alt="Slide 2">
                        </div>
                        <div class="carousel-item">
                          <img src="../static/snicker 12.jpg" class="d-block w-100" alt="Slide 3">
                        </div>
                      </div>
                      <a class="carousel-control-prev" href="#carouselWithInterval" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselWithInterval" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </a>
                    </div>

                    <a href=""class="btn btn-outline-info">READ MORE</a>
                </div>
           </div>

            <div class="col-md-3">
                <div class="card">
                    <h2><b>LEATHER</b></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto expedita fuga necessitatibus? Dolorem,
                        dolores doloribus eaque error et eveniet fuga fugit id minima nisi pariatur quam qui velit voluptate voluptatem.
                    </p>

                    <div id="carousel" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="1000">
                          <img src="../static/LEATHER 1.jpeg" class="d-block w-100" alt="Slide 1">
                        </div>
                        <div class="carousel-item" data-bs-interval="1000">
                          <img src="../static/leather 2.jpg" class="d-block w-100" alt="Slide 2">
                        </div>
                        <div class="carousel-item">
                          <img src="../static/leather 3.jpeg" class="d-block w-100" alt="Slide 3">
                        </div>
                      </div>
                      <a class="carousel-control-prev" href="#carouselWithInterval" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselWithInterval" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </a>
                    </div>

                    <a href=""class="btn btn-outline-info">READ MORE</a>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card">
                    <h2><b>SANDALS</b></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ab molestiae rerum saepe! Accusamus assumenda
                        blanditiis in inventore, ipsa maxime modi sapiente sequi voluptas. Nesciunt quis quisquam similique sunt
                        tenetur vol
                    </p>

                    <div id="carouselWith" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="1000">
                          <img src="../static/sandals 1.jpeg" class="d-block w-100" alt="Slide 1">
                        </div>
                        <div class="carousel-item" data-bs-interval="1000">
                          <img src="../static/sandals 2.jpg" class="d-block w-100" alt="Slide 2">
                        </div>
                        <div class="carousel-item">
                          <img src="../static/sandals 3.jpeg" class="d-block w-100" alt="Slide 3">
                        </div>
                      </div>
                      <a class="carousel-control-prev" href="#carouselWithInterval" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselWithInterval" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </a>
                    </div>
                    <a href=""class="btn btn-outline-info">READ MORE</a>
               </div>
            </div>
            <div class="col-md-3">
                <div class="card">
                    <h2><b>SCHOOL WEAR</b></h2>
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aut beatae debitis deserunt enim
                        error et eum harum hic incidunt laboriosam laudantium omnis pariatur, reiciendis sint ullam,
                        vero voluptatem voluptates voluptatibus.
                    </p>

                    <div id="carouselWithInterval" class="carousel slide" data-bs-ride="carousel">
                      <div class="carousel-inner">
                        <div class="carousel-item active" data-bs-interval="1000">
                          <img src="../static/school 1.jpeg" class="d-block w-100" alt="Slide 1">
                        </div>
                        <div class="carousel-item" data-bs-interval="1000">
                          <img src="../static/school 2.jpeg" class="d-block w-100" alt="Slide 2">
                        </div>
                        <div class="carousel-item" >
                          <img src="../static/school 3.jpg" class="d-block w-100" alt="Slide 3">
                        </div>
                      </div>
                      <a class="carousel-control-prev" href="#carouselWithInterval" role="button" data-bs-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Previous</span>
                      </a>
                      <a class="carousel-control-next" href="#carouselWithInterval" role="button" data-bs-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="visually-hidden">Next</span>
                      </a>
                    </div>

                    <a href=""class="btn btn-outline-info">READ MORE</a>   
                </div>
            </div>
       </section>
    </div>
    <br><br>

     <div class="container">
         <section class="row">
             <div class="col-md-3">
                 <div class="card">
                     <h3><b>TRENDING</b></h3>
                     <img src="../static/snicker 2.jpg" alt="" class="image-fluid" width="100%">
                     <p class="text-muted">Cool snickers for you. grab one now and rock the day.</p>
                     <b class="text-warning">KES 3,500</b>
                     <a href="" class="btn btn-info">BUY NOW</a>
                 </div>
             </div>
             
             <div class="col-md-3">
                 <div class="card">
                     <h3><b>TRENDING</b></h3>
                     <img src="../static/snicker3.jpeg" alt="" class="image-fluid">
                     <p class="text-muted">Cool snickers for you. classy trending designed to make you feel comfortable
                        as you rock the day
                     </p>
                     <b class="text-warning">KES 3,500</b>
                     <a href="" class="btn btn-info">BUY NOW</a>
                 </div>
             </div>

             <div class="col-md-3">
                 <div class="card">
                    <h3><b>TRENDING</b></h3>
                    <img src="../static/sneaker 4.jpeg" alt="" class="image-fluid">
                   <p class="text-muted">Cool snickers for you. classy trending designed to make you feel comfortable
                       as you rock the day
                   </p>
                   <b class="text-warning">KES 3,500</b>
                   <a href="" class="btn btn-info">BUY NOW</a>
                 </div>
             </div>

              <div class="col-md-3">
                  <div class="card">
                     <h3><b>TRENDING</b></h3>
                     <img src="../static/snicker 5.jpeg" alt="" class="image-fluid">
                    <p class="text-muted">Cool snickers for you. classy trending designed to make you feel comfortable
                        as you rock the day
                    </p>
                    <b class="text-warning">KES 4,500</b>
                    <a href="" class="btn btn-info">BUY NOW</a>
                  </div>
              </div>
         </section>
     </div>

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@3.5.1/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
</body>
</html>